<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- Remove the duplicate MAIN/LAUNCHER intent-filter from MainActivity in release builds
             so only LauncherAlias (controlled by runtime code) appears in launcher -->
        <activity
            android:name=".MainActivity"
            tools:node="merge"
            tools:replace="android:enabled">
            <intent-filter
                android:autoVerify="true"
                tools:node="remove" />
        </activity>
    </application>
</manifest>